@model Democracy_Alarm.Models.VotingCityViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <h1><b>縣、市長</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <!-- <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
        </div>
    </div>
</header>


<!-- First Grid-->

@{
    var listSize = 3;
    var CountNumber = 0;
    var numberOfLists = Model.CityVotes.Count / listSize;
    for (int listIndex = 0; listIndex < numberOfLists + 1; listIndex++)
    {
        var list = Model.CityVotes.Skip(listIndex * listSize).Take(listSize);
        <div class="w3-row-padding">
            @foreach (var element in list)
            {
                CountNumber++;
                <div class="w3-third w3-container w3-margin-bottom">
                    <div class="w3-container w3-white">
                        <p>
                            <b>
                                <a class="button line-blue" data-rel="CityResult" data="@element.CityName" href="#">
                                    @element.CityName
                                </a>
                            </b>
                        </p>
                        <a class="button line-blue" data-rel="voting" data="@element.CityName" voting_index="@CountNumber" href="#">
                            <button class="w3-button w3-teal w3-padding-large w3-hover-black">馬上投票</button>
                        </a>

                        <p>總支持數:<span id="VotingCount_@CountNumber">@element.Votes</span> 票</p>
                    </div>
                </div>
            }
        </div>
    }

}
<!-- Images of Me -->
<div class="w3-row-padding w3-padding-16" id="about">

</div>
<div class="w3-section w3-bottombar w3-padding-16"></div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>理念</b></h1>
    <p>
        馬丁．路德．金：在社會轉型期，最大的悲劇不是壞人的囂張，
        而是好人的過度沉默。
    </p><p>
        現在的民主制度，選民唯一有效的武器是一張選票。這張選票
        的有效期限只有選舉那一天。其他的日子，選民只能沉默，默默
        的看著政客造假抹黑，攻擊為人們做事的政治家。然後選前一
        波波的紅包黑函攻勢下，忘了政治家前幾年的貢獻。所以現在
        民主選舉的狀況如圖一。
    </p>
    政治家每天努力的做事，除了選舉那一天，忙碌的公民如何出
    聲支持他？
    </p><p>
        一張選票用四年，一季一次，表達與承諾對政治家的支持。作法
        如圖二。
    </p>
    <p>
        我們的目標如圖三。不要讓政治家辛苦做三年半，心裡卻一直
        不安，怕選前的紅包黑函攻勢下，選民背叛自己。每一季花三分
        鐘支持辛苦工作的政治家，讓他們心安。有公民的一路相隨，會
        有越來越多的政治家勇於做事。
    </p>
    <p><img src="~/Content/Images/presentation1.png" /></p>
    <p><img src="~/Content/Images/presentation2.png" /></p>
    <p><img src="~/Content/Images/presentation3.png" /></p>
    <hr>
</div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>投季票的日子</b></h1>

    <p>
        一年訂這四個日子，選民表達與承諾對政治家的支持：
    </p>
    <p>
        2月4日，立春農民節，農民生產糧食。

    </p>
    <p>
        5月1日，國際勞工節，勞工生產日常用品。

    </p>
    <p>
        8月12日，國際青年節，青年是即時的戰力。

    </p>
    <p>
        10月31日，萬聖夜，兒童的歡樂節日，兒童是未來的主力。

    </p>

    <hr>
</div>
    <div class="w3-row-padding w3-padding-16" id="news">

    </div>
    <h1><b>公告</b></h1>
    <!-- Progress bars / Skills -->
    <p>封測階段</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">
            2108選舉前，封測階段，FB or Google。
        </div>
    </div>
    <p>手機認證</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">2108選舉後，大規模使用，手機認證。</div>
    </div>
    <p>加身份證認證</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">
            系統穩定後，再提高可靠度，加身份證認證。
        </div>
    </div>
    <p>區塊鍊防資料變更</p>
    <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-padding">
            得到多數人的認同後，以區塊鍊防資料變更。
        </div>
    </div>

    <hr>

    @section scripts {
        <script>
            var LastVotingSeason = '@Model.LastVotingSeason';
            var CurrentVotingSeason = '@Model.CurrentVotingSeason';
            var NextFullVotingSeason = '@Model.NextFullVotingSeason';
            var NextVotingYear = @Model.NextVotingYear;
            var NextVotingSeason = @Model.NextVotingSeason;
            var SelectedIndex = 0;
            jQuery(document).ready(function ($) {
                setup_voting();
            });
            function setup_voting() {
                $('a[data-rel^=voting]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    SelectedIndex = this.attributes['voting_index'].value;
                    $.confirm({
                        title: '投下神聖的一票',
                        content: '' +
                            '<form action="" class="formName">' +
                            '<div class="form-group">' +
                            '<label>投給' + CityName + '-' + NextFullVotingSeason+'</label>' +
                            '<input type="hidden" id="VotingCity" value="' + CityName+'">' +
                            '<input type="text" id="VotingReason" placeholder="記錄一下投票的原因吧..." class="name form-control" maxlength="120" />' +
                            '</div>' +
                            '</form>'
                        ,
                        closeIcon: true,
                        buttons: {
                            Vote: {
                                text: '我要投票',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(false);
                                }
                            },
                            GiveUp: {
                                text: '這票作廢',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(true);
                                }
                            }
                        }
                    });
                });
                $('a[data-rel^=CityResult]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    $.dialog({
                        title: CityName + '記錄',
                        content: 'url:@Url.Action("GetCityVoting", "Voting", null)?City=' + CityName,
                        animation: 'scale',
                        columnClass: 'medium',
                        closeAnimation: 'scale',
                        backgroundDismiss: true,
                    });
                });

            }
            function SubmitVoting(IsDiscard) {
                var VotingCity = $("#VotingCity").val();
                var VotingReason = $("#VotingReason").val();

                //LastVotingSeason
                //UID
                $.post("@Url.Action("SubmitNewVoting", "Voting", null, Request.Url.Scheme)", {
                    UserID: UID,
                    Target: $("#VotingCity").val(),
                    Season: NextFullVotingSeason,
                    Comment: $("#VotingReason").val(),
                    IsDiscard: IsDiscard
                }).done(function (data) {
                    //result
                    if (data == 'true') {
                        if (this.data.indexOf("IsDiscard=false") > 0) {
                            $("#VotingCount_" + SelectedIndex).html(parseInt($("#VotingCount_" + SelectedIndex).text()) + 1).css("color","green");
                        }
                        AddVotingSeason();
                    }
                    else {
                        $.alert({
                            title: 'Error',
                            icon: 'fa fa-warning',
                            type: 'red',
                            content: data,
                        });
                    }

                });
            }
            function AddVotingSeason() {
                NextVotingSeason++;
                if (NextVotingSeason > 4) {
                    NextVotingSeason=1
                    NextVotingYear++;
                }
                NextFullVotingSeason = NextVotingYear + 'Q' + NextVotingSeason;
            }
        </script>

    }
