@model Democracy_Alarm.Models.VotingCityViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars">個人設定</i></span>
    <div class="w3-container">
        <h1>
            <img src="~/Content/Images/1.png"><br>
            <img src="~/Content/Images/flow_chart.jpg" style="max-width:800px">
        </h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <!-- <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
        </div>
    </div>
</header>


<!-- First Grid-->

@{
    var listSize = 3;
    var CountNumber = 0;
    var numberOfLists = Model.CityVotes.Count / listSize;
    for (int listIndex = 0; listIndex < numberOfLists + 1; listIndex++)
    {
        var list = Model.CityVotes.Skip(listIndex * listSize).Take(listSize);
        <div id="MayorList" class="w3-row-padding">

            @foreach (var element in list)
            {

                CountNumber++;
                <div class="w3-third w3-container w3-margin-bottom">

                    <div class="w3-container w3-white">
                        <p>
                            <b>
                                <a class="button line-blue" data-rel="CityResult" data="@element.CityName" href="#">
                                    @element.CityName - @Model.MayorMapping[element.CityName]
                                </a>
                            </b>
                            <a class="button line-blue" data-rel="CityResult" data="@element.CityName" href="#">
                                <img style="float:left;margin-right:16px" width="120px" src="~/Content/Images/Mayors/@(CountNumber+".jpg")" alt="Norway" style="width:100%" class="w3-hover-opacity">
                            </a>
                        </p>
                        <p>總支持數:<span id="VotingCount_@CountNumber">@element.Votes</span> 票</p>
                        <a style="display:none" class="button line-blue" data-rel="voting" data="@element.CityName" voting_index="@CountNumber" href="#">
                            <button class="w3-button w3-teal w3-padding-large w3-hover-black">馬上投票</button>
                        </a>


                    </div>
                </div>
            }
        </div>
    }

}
<!-- Images of Me -->
<div class="w3-row-padding w3-padding-16" id="about">

</div>
<div class="w3-section w3-bottombar w3-padding-16"></div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>一張選票用四年，釋放正面的力量：縣市長篇</b></h1><br>
    <h1><b>理念</b></h1><br>
    <h4><b>民主怪現象</b></h4>
    <p>
        <ul>
            <li>
                有一個人花了半年選了一台風箏，他認為最好的那一台，然後第一次放風箏飛上高空後，他就把風箏線剪斷了！
            </li>
            <li>
                又有一人買了一張四年的車票，第一天上車就把車票整張丟入票箱。你問他未來四年能不能坐上車？他也不知道。
            </li>
            <li>
                以上兩件事很奇怪嗎？不，一點不奇怪，我們幾百年來都是這樣選舉的。
            </li>
        </ul>
    </p>
    <h4><b>怪現象的分析</b></h4>
    <p>
        <ul>
            <li>
                選舉的循環約四年，我們把心力都花在選舉日的前半年，選後三年半呢？當政客貪污腐化，我們只能當觀眾，當政治家改革遇到利益集團圍剿，我們還是只能當觀眾。
            </li>
            <li>
                更糟糕的是，人的記憶與情感都會隨時間淡化，選後三年半的好壞事，都會在選前淡化到幾乎忘了它們的存在。就算還稍微記得，在選前紅包黑函的攻勢下，還是被遺忘得一乾二淨。
            </li>
        </ul>
    </p>
    <h4><b>簡單的方法</b></h4>
    <p>
        <ul>
            <li>
                有沒有一種簡單的方法讓大家重視選後三年半呢？
            </li>
            <li>
                「一張選票用四年」是一種方法，作法如下圖，把選票拆成16張季票，每一季使用一張。並且簡短記錄下當時的想法。
            </li>
            <li>
                想像選票如同一張四年的車票，如果這張四年的車票分成16張小季票，一季給司機一張季票做獎勵，同時給自己簡短紀錄，我們確定四年都坐得到車，司機得到肯定，更熱於服務客人。四年後，我們也可以根據紀錄選到好的司機。
            </li>
        </ul>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation_1.png" />
        </picture>
    </p>

    <hr>
</div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1>
        <b>
            後記
        </b>
    </h1>
    <p>
        <h5>
            我們在第二階段會使用電話簡訊防止投票部隊。即使如此也不能保證投票部隊會花大錢申請更多電話。但是，一張選票用四年的主要目標依然可以達成，因為我們的目標是讓政治家與公民安心。
        </h5>
    </p>
    <p>
        <h5>
            為什麼可以讓政治家安心？
        </h5>

        <ul>
            <li>
                季票的累積票數可以讓政治家知道有多少人肯定他。政治家沒有投票部隊，所以他知道每一票都是確實的，並且為什麼投這一票的理由與情感都記錄在選民的筆記本，這些都是對抗選前一波波紅包與黑函攻勢的正面力量。
            </li>
            <li>
                當然可能有政客會請投票部隊，但這不會讓政客心安，因為自己也搞不清楚有多少票數是自己灌水的。
            </li>
        </ul>

    </p>
    <p>
        <h5>
            為什麼可以讓公民安心？
        </h5>

        <ul>
            <li>
                選民的筆記本裡記錄著投季票的理由與情感，在公開的投票訊息中，也可以看到有多少公民與我們一樣，以正面力量支持政治家改革。
            </li>
            <li>記憶會淡忘，但在這裡累積的正面力量一直存在。</li>
        </ul>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation_i.png" />
        </picture>
    </p>
    <hr>
</div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>公告</b></h1>
    <p>
    <p>
        <h5>
            每季的投票日期如下：
        </h5>
        <ul>
            <li>
                2月15日~5月14日
            </li>
            <li>
                5月15日~8月14日
            </li>
            <li>
                8月15日~11月14日
            </li>
            <li>
                11月15日~11月14日
            </li>
        </ul>
        

    </p>

    </p>
    </div>
    <hr>

    @section scripts {
        <script>
            var SelectedIndex = 0;
            jQuery(document).ready(function ($) {
                setup_voting();
            });
            function setup_voting() {
                $('a[data-rel^=voting]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    SelectedIndex = this.attributes['voting_index'].value;
                    $.confirm({
                        title: '投下神聖的一票',
                        content: '' +
                            '<form action="" class="formName">' +
                            '<div class="form-group">' +
                            '<label>投給' + CityName + '-' + NextFullVotingSeason.replace("Q1", "第一季").replace("Q2", "第二季").replace("Q3", "第三季").replace("Q4", "第四季")+'</label>' +
                            '<input type="hidden" id="VotingCity" value="' + CityName+'">' +
                            '<input type="text" id="VotingReason" placeholder="記錄一下投票的原因吧..." class="name form-control" maxlength="140" />' +
                            '</div>' +
                            '</form>'
                        ,
                        closeIcon: true,
                        buttons: {
                            Vote: {
                                text: '我要投票',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(false);
                                }
                            },
                            GiveUp: {
                                text: '這票作廢',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(true);
                                }
                            }
                        }
                    });
                });
                $('a[data-rel^=CityResult]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    $.dialog({
                        title: CityName + '記錄',
                        content: 'url:@Url.Action("GetCityVoting", "Voting", null)?City=' + CityName,
                        animation: 'scale',
                        columnClass: 'medium',
                        closeAnimation: 'scale',
                        backgroundDismiss: true,
                    });
                });

            }
            function SubmitVoting(IsDiscard) {
                var VotingCity = $("#VotingCity").val();
                var VotingReason = $("#VotingReason").val();
                if (
                    ((CurrentVotingSeason < NextVotingSeason) && (CurrentVotingYear == NextVotingYear)) ||
                    CurrentVotingYear < NextVotingYear) {
                    $.alert({
                        title: '可投票數已用完',
                        icon: 'fa fa-warning',
                        type: 'green',
                        content: '已沒有多餘票可用，請等下一季再行投票',
                    });
                    return;
                }
                //add condition
                //LastVotingSeason
                //UID
                $.post("@Url.Action("SubmitNewVoting", "Voting", null, Request.Url.Scheme)", {
                    UserID: UID,
                    Target: $("#VotingCity").val(),
                    Season: NextFullVotingSeason,
                    Comment: $("#VotingReason").val(),
                    IsDiscard: IsDiscard
                }).done(function (data) {
                    //result
                    if (data == 'true') {
                        if (this.data.indexOf("IsDiscard=false") > 0) {
                            $("#VotingCount_" + SelectedIndex).html(parseInt($("#VotingCount_" + SelectedIndex).text()) + 1).css("color","green");
                        }
                        AddVotingSeason();
                    }
                    else {
                        $.alert({
                            title: '系統發生錯誤，請聯絡管理員',
                            icon: 'fa fa-warning',
                            type: 'yellow',
                            content: data,
                        });
                    }

                });
            }
            function AddVotingSeason() {
                NextVotingSeason++;
                if (NextVotingSeason > 4) {
                    NextVotingSeason=1
                    NextVotingYear++;
                }
                NextFullVotingSeason = NextVotingYear + 'Q' + NextVotingSeason;
            }
        </script>

    }
