@model Democracy_Alarm.Models.VotingCityViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars" style="font-size:25;margin-bottom: 0px;">個人設定</i></span>
    <div class="w3-container">
        <h1>
            <img src="~/Content/Images/20181102200220.jpg" width="100%">
        </h1>
        <div class="w3-section w3-bottombar">
            <!-- <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
        </div>
    </div>
</header>


<!-- First Grid-->

@{
    var listSize = 3;
    var CountNumber = 0;
    var numberOfLists = Model.CityVotes.Count / listSize;
    for (int listIndex = 0; listIndex < numberOfLists + 1; listIndex++)
    {
        var list = Model.CityVotes.Skip(listIndex * listSize).Take(listSize);
        <div id="MayorList" class="w3-row-padding">

            @foreach (var element in list)
            {

                CountNumber++;
                <div class="w3-third w3-container w3-margin-bottom">

                    <div class="w3-container w3-white">
                        <p class="mayors">
                            <b>
                                <a class="button line-blue " data-rel="CityResult" data="@element.CityName" href="#">
                                    @element.CityName - @Model.MayorMapping[element.CityName]
                                </a>
                            </b>
                            <a class="button line-blue" data-rel="CityResult" data="@element.CityName" href="#">
                                <img style="float:left;margin-right:16px" width="120px" src="~/Content/Images/Mayors/@(CountNumber+".jpg")" alt="Norway" style="width:100%" class="w3-hover-opacity">
                            </a>
                        </p>
                        <p class="mayors">總支持數:<span id="VotingCount_@CountNumber">@element.Votes</span> 個讚</p>
  
                            <a style="display:none" class="button line-blue" data-rel="voting" data="@element.CityName" voting_index="@CountNumber" href="#">
                                <button class="w3-button w3-teal w3-padding-large w3-hover-black">立即評量</button>
                            </a>

                    </div>
                </div>
            }
        </div>
    }

}
<!-- Images of Me -->
<div class="w3-row-padding w3-padding-16" id="about">

</div>
<div class="w3-section w3-bottombar w3-padding-16"></div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>一張選票用四年，釋放正面的力量：縣市長篇</b></h1><br>
    <h2><b>詳細訊息請到：<span style="display:inline-block"><a href="https://www.facebook.com/%E4%B8%80%E5%BC%B5%E9%81%B8%E7%A5%A8%E7%94%A8%E5%9B%9B%E5%B9%B4-283254135858204" target="_blank">一張選票用四年粉絲頁</a></span></b></h2><br>
    
</div>
    <hr>

    @section scripts {
        <script>
            var SelectedIndex = 0;
            jQuery(document).ready(function ($) {
                setup_voting();
                //setup_voting_message();
            });
            function setup_voting_message() {
                $('a[data-rel^=voting]').on('click', function () {
                    $.alert({
                        title: '2018選後，開放記錄與投票',
                        icon: 'fa fa-warning',
                        type: 'green',
                        content: '2018選後，開放記錄與投票',
                    });
                });
            }
            function setup_voting() {
                $('a[data-rel^=voting]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    SelectedIndex = this.attributes['voting_index'].value;
                    $.confirm({
                        title: '選後真正做老闆',
                        content: '' +
                            '<form action="" class="formName">' +
                            '<div class="form-group">' +
                            '<label>評量' + CityName + '-' + NextFullVotingSeason.replace("Q1", "第一季").replace("Q2", "第二季").replace("Q3", "第三季").replace("Q4", "第四季")+'</label>' +
                            '<input type="hidden" id="VotingCity" value="' + CityName+'">' +
                            '<input type="text" id="VotingReason" placeholder="記錄一下給讚的原因吧...(最多100字)" class="name form-control" maxlength="120" />' +
                            '</div>' +
                            '</form>'
                        ,
                        closeIcon: true,
                        buttons: {
                            Vote: {
                                text: '完成評量',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(false);
                                }
                            },
                            GiveUp: {
                                text: '放棄評量',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(true);
                                }
                            }
                        }
                    });
                });
                $('a[data-rel^=CityResult]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    $.dialog({
                        title: CityName + '記錄',
                        content: 'url:@Url.Action("GetCityVoting", "Voting", null)?City=' + CityName,
                        animation: 'scale',
                        columnClass: 'medium',
                        closeAnimation: 'scale',
                        backgroundDismiss: true,
                    });
                });

            }
            function SubmitVoting(IsDiscard) {
                var VotingCity = $("#VotingCity").val();
                var VotingReason = $("#VotingReason").val();
                if (
                    ((CurrentVotingSeason < NextVotingSeason) && (CurrentVotingYear == NextVotingYear)) ||
                    CurrentVotingYear < NextVotingYear) {
                    $.alert({
                        title: '可評量數已用完',
                        icon: 'fa fa-warning',
                        type: 'green',
                        content: '已沒有多餘評量可用，請等下一季再行評量',
                    });
                    return;
                }
                //add condition
                //LastVotingSeason
                //UID
                $.post("@Url.Action("SubmitNewVoting", "Voting", null, Request.Url.Scheme)", {
                    UserID: UID,
                    Target: $("#VotingCity").val(),
                    Season: NextFullVotingSeason,
                    Comment: $("#VotingReason").val(),
                    IsDiscard: IsDiscard
                }).done(function (data) {
                    //result
                    if (data == 'true') {
                        if (this.data.indexOf("IsDiscard=false") > 0) {
                            $("#VotingCount_" + SelectedIndex).html(parseInt($("#VotingCount_" + SelectedIndex).text()) + 1).css("color","green");
                        }
                        AddVotingSeason();
                    }
                    else {
                        $.alert({
                            title: '系統發生錯誤，請聯絡管理員',
                            icon: 'fa fa-warning',
                            type: 'yellow',
                            content: data,
                        });
                    }

                });
            }
            function AddVotingSeason() {
                NextVotingSeason++;
                if (NextVotingSeason > 4) {
                    NextVotingSeason=1
                    NextVotingYear++;
                }
                NextFullVotingSeason = NextVotingYear + 'Q' + NextVotingSeason;
            }
        </script>

    }
