@model Democracy_Alarm.Models.VotingCityViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <h1>
            <img src="~/Content/Images/1.png"><img src="~/Content/Images/2.png"><img src="~/Content/Images/3.png">
        </h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <!-- <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
        </div>
    </div>
</header>


<!-- First Grid-->

@{
    var listSize = 3;
    var CountNumber = 0;
    var numberOfLists = Model.CityVotes.Count / listSize;
    for (int listIndex = 0; listIndex < numberOfLists + 1; listIndex++)
    {
        var list = Model.CityVotes.Skip(listIndex * listSize).Take(listSize);
        <div id="MayorList" class="w3-row-padding">

            @foreach (var element in list)
            {

                CountNumber++;
            <div class="w3-third w3-container w3-margin-bottom">
                    
                <div class="w3-container w3-white">
                    <p>
                        <b>
                            <a class="button line-blue" data-rel="CityResult" data="@element.CityName" href="#">
                                @element.CityName - @Model.MayorMapping[element.CityName]
                            </a>
                        </b>
                        <a class="button line-blue" data-rel="CityResult" data="@element.CityName" href="#">
                            <img style="float:left;margin-right:16px" width="120px" src="~/Content/Images/Mayors/@(CountNumber+".jpg")" alt="Norway" style="width:100%" class="w3-hover-opacity">
                        </a>
                    </p>
                    <p>總支持數:<span id="VotingCount_@CountNumber">@element.Votes</span> 票</p>
                    <a style="display:none" class="button line-blue" data-rel="voting" data="@element.CityName" voting_index="@CountNumber" href="#">
                        <button class="w3-button w3-teal w3-padding-large w3-hover-black">馬上投票</button>
                    </a>
                    

                </div>
            </div>
            }
        </div>
    }

}
<!-- Images of Me -->
<div class="w3-row-padding w3-padding-16" id="about">

</div>
<div class="w3-section w3-bottombar w3-padding-16"></div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1><b>理念</b></h1>
    <p>
        <ul>
            <li>
                馬丁．路德．金：在社會轉型期，最大的悲劇不是壞人的囂張， 而是好人的過度沉默。<br><br>
            </li>
            <li>
                現在的民主制度，選民唯一有效的武器是一張選票。
            </li>
            <li>
                這張選票的有效期限一天，選舉當天！其他的日子，選民只能沉默，默默的看著政客平時貪污腐化，然後在選前半年突然憂國憂民起來，攻擊一直為人們做事的政治家。
            </li>
            <li>
                最後在選前一波波的紅包黑函攻勢下，人民忘了政治家前幾年的貢獻，選擇了只會亂搞的政客。

            </li>
            <li>
                所以現在民主選舉的狀況如圖一，我們選出的是會選舉的政客，不是會做事的政治家。
                <br><br>
            </li>
            <li>
                圖二為政治家與政客在整個四年的行為模式的比較圖。<br><br>

            </li>
            <li>
                圖三說明民主選舉的缺陷，選票只有選舉當天有效，人的記憶會隨著時間模糊，所以焦點會放在選前半年，這半年正好是政客的活躍期，紅包黑函比理性做事更吸引人注意，所以選前政治家就被政客壓著打。如果我們只看選前半年投票，很容易選出擅長短期選舉的政客，而不是長期做事的政治家。
                <br><br>
            </li>
            <li>
                圖四說明如果我們能夠在政治家持續做事時，偶而關注一下，給他一些肯定，並記錄下當時的感想防止以後記憶模糊，這樣可以降低選前紅包黑函的影響力，給自己與政治家安心。最終，我們可以選出一直做事的政治家。

            </li>
            <li>
                政治家每天努力的做事，除了選舉可以投選票的那一天，忙碌的公民如何出聲支持他？

            </li>
            <li>
                一張選票用四年，一季一次，變成十六張季票，表達與承諾對政治家的支持。做法如圖五。
                <br><br>
            </li>
            <li>
                我們的目標如圖六。不要讓政治家辛苦做三年半，心裡卻一直不安，怕選前的紅包黑函攻勢，或突發事件讓選民背叛自己。每一季花三分鐘支持辛苦工作的政治家，讓他們心安。有公民的一路相隨，會有越來越多的政治家勇於站出來做事。
                <br><br>
            </li>
            <li>
                附註：這十六張季票只代表正面支持的力量，並沒有負面的選項，因為這社會負面的情緒已經夠多了，我們缺的是正面的力量。

            </li>
        </ul>

    </p>
    
    <p>
        <picture>
            <img src="~/Content/Images/presentation1.png" />
        </picture>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation2.png" />
        </picture>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation3.png" />
        </picture>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation4.png" />
        </picture>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation5.png" />
        </picture>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation6.png" />
        </picture>
    </p>
    <hr>
</div>
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h1>
        <b>
            後記
        </b>
    </h1>
    <p>
        <h5>
            我們在第二階段會使用電話簡訊防止投票部隊。即使如此也不能保證投票部隊會花大錢申請更多電話。但是，一張選票用四年的主要目標依然可以達成，因為我們的目標是讓政治家與公民安心。
        </h5>
    </p>
    <p>
        <h5>
            為什麼可以讓政治家安心？
        </h5>

        <ul>
            <li>
                季票的累積票數可以讓政治家知道有多少人肯定他。政治家沒有投票部隊，所以他知道每一票都是確實的，並且為什麼投這一票的理由與情感都記錄在選民的筆記本，這些都是對抗選前一波波紅包與黑函攻勢的正面力量。
            </li>
            <li>
                當然可能有政客會請投票部隊，但這不會讓政客心安，因為自己也搞不清楚有多少票數是自己灌水的。
            </li>
        </ul>

    </p>
    <p>
        <h5>
            為什麼可以讓公民安心？
        </h5>

        <ul>
            <li>
                選民的筆記本裡記錄著投季票的理由與情感，在公開的投票訊息中，也可以看到有多少公民與我們一樣，以正面力量支持政治家改革。
            </li>
            <li>記憶會淡忘，但在這裡累積的正面力量一直存在。</li>
        </ul>
    </p>
    <p>
        <picture>
            <img src="~/Content/Images/presentation_i.png" />
        </picture>
    </p>
    <hr>
</div>
<div class="w3-row-padding w3-padding-16" id="news">

</div>
<h1><b>公告</b></h1>
<h2>
    民主小鬧鐘開發步驟如下：
</h2>
<!-- Progress bars / Skills -->
<p>
    第一階段：封測階段
</p>
<div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding">
        2018選舉前為封測階段，主要是讓公民嘗試「一張選票用四年」的概念，並且除錯與調整介面。如有bug，請使用者海涵。初期以Facebook或Google帳號做簡單認證。
    </div>
</div>
<p>
    第二階段：大規模試驗階段

</p>
<div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding">
        2018選舉後，開始做大規模試驗，目標是讓「一張選票用四年」得到更多人的認可。這個階段將使用手機簡訊認證。
    </div>
</div>
<p>
    第三階段：人人都是資料中心階段
</p>
<div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding">
        使用人數夠多後，投票與紀錄的資料以區塊鍊保存在每一個投票者手上。每一個公民手中將有滿滿的正面力量。
    </div>
</div>
<p>
    每季的投票日期如下：

</p>
<div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding">
        <h2>2月15日</h2>
        <h2>5月15日</h2>
        <h2>8月15日</h2>
        <h2>11月15日</h2>

    </div>
</div>

<hr>

@section scripts {
    <script>
            var SelectedIndex = 0;
            jQuery(document).ready(function ($) {
                setup_voting();
            });
            function setup_voting() {
                $('a[data-rel^=voting]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    SelectedIndex = this.attributes['voting_index'].value;
                    $.confirm({
                        title: '投下神聖的一票',
                        content: '' +
                            '<form action="" class="formName">' +
                            '<div class="form-group">' +
                            '<label>投給' + CityName + '-' + NextFullVotingSeason.replace("Q1", "第一季").replace("Q2", "第二季").replace("Q3", "第三季").replace("Q4", "第四季")+'</label>' +
                            '<input type="hidden" id="VotingCity" value="' + CityName+'">' +
                            '<input type="text" id="VotingReason" placeholder="記錄一下投票的原因吧..." class="name form-control" maxlength="140" />' +
                            '</div>' +
                            '</form>'
                        ,
                        closeIcon: true,
                        buttons: {
                            Vote: {
                                text: '我要投票',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(false);
                                }
                            },
                            GiveUp: {
                                text: '這票作廢',
                                btnClass: 'btn-orange',
                                action: function () {
                                    SubmitVoting(true);
                                }
                            }
                        }
                    });
                });
                $('a[data-rel^=CityResult]').on('click', function () {
                    var CityName = this.attributes['data'].value;
                    $.dialog({
                        title: CityName + '記錄',
                        content: 'url:@Url.Action("GetCityVoting", "Voting", null)?City=' + CityName,
                        animation: 'scale',
                        columnClass: 'medium',
                        closeAnimation: 'scale',
                        backgroundDismiss: true,
                    });
                });

            }
            function SubmitVoting(IsDiscard) {
                var VotingCity = $("#VotingCity").val();
                var VotingReason = $("#VotingReason").val();
                if (
                    ((CurrentVotingSeason < NextVotingSeason) && (CurrentVotingYear == NextVotingYear)) ||
                    CurrentVotingYear < NextVotingYear) {
                    $.alert({
                        title: 'Error',
                        icon: 'fa fa-warning',
                        type: 'red',
                        content: '已沒有多餘票可用，請等下一季再行投票',
                    });
                    return;
                }
                //add condition
                //LastVotingSeason
                //UID
                $.post("@Url.Action("SubmitNewVoting", "Voting", null, Request.Url.Scheme)", {
                    UserID: UID,
                    Target: $("#VotingCity").val(),
                    Season: NextFullVotingSeason,
                    Comment: $("#VotingReason").val(),
                    IsDiscard: IsDiscard
                }).done(function (data) {
                    //result
                    if (data == 'true') {
                        if (this.data.indexOf("IsDiscard=false") > 0) {
                            $("#VotingCount_" + SelectedIndex).html(parseInt($("#VotingCount_" + SelectedIndex).text()) + 1).css("color","green");
                        }
                        AddVotingSeason();
                    }
                    else {
                        $.alert({
                            title: 'Error',
                            icon: 'fa fa-warning',
                            type: 'red',
                            content: data,
                        });
                    }

                });
            }
            function AddVotingSeason() {
                NextVotingSeason++;
                if (NextVotingSeason > 4) {
                    NextVotingSeason=1
                    NextVotingYear++;
                }
                NextFullVotingSeason = NextVotingYear + 'Q' + NextVotingSeason;
            }
    </script>

}
