<!DOCTYPE html>
<html>
<title>Democracy-Alarm</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            LoginProcessing();
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '516183938824339',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function LoginProcessing() {
        FB.api('/me', function (response) {
            if (response) {
                var posting = $.post("@Url.Action("index", "Home")", { LogingUserID: response.id, LoginType: "facebook", LoginUserName: response.name } );
                posting.done(function (data) {
                    if ("@TempData["IsLogined"]"==="1") {
                        location.reload();
                    }
                });
            }
        });
    }
    var finished_rendering = function () {
        var spinner = document.getElementById("spinner");
        spinner.removeAttribute("style");
        spinner.removeChild(spinner.childNodes[0]);
    }
    FB.Event.subscribe('xfbml.render', finished_rendering);
</script>

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <div id="spinner"
                 style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
                <div class="fb-login-button"
                     data-max-rows="1"
                     data-size="large"
                     data-button-type="continue_with"
                     data-use-continue-as="true"
                     onlogin="checkLoginState();"></div>
            </div>
            <h4><b>Democracy-Alarm</b></h4>
        </div>
        <div class="w3-bar-block">
            <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>縣、市長</a>
            <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>理念</a>
            <a href="#news" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>公告</a>
        </div>
        <div class="w3-panel w3-large">
            <i class="fa fa-facebook-official w3-hover-opacity"><a href="https://www.facebook.com/%E5%9B%9B%E5%88%86%E4%B9%8B%E4%B8%80%E7%9A%84%E9%9D%A9%E5%91%BDQuarter-Revolution-QR-459924757455491/" target="_blank"> 四分之一的革命</a></i>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
        @RenderBody()


        <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-dark-grey">
            <div class="w9-row-padding">
                <div class="w9-third">
                    <h3>縣、市長</h3>
                    <p>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>臺北市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>新北市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>桃園市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>臺中市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>臺南市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>高雄市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>基隆市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>新竹市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>嘉義市</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>新竹縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>苗栗縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>彰化縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>南投縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>雲林縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>嘉義縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>屏東縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>宜蘭縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>花蓮縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>臺東縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>澎湖縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>金門縣</span>
                        <span class='w3-tag w3-grey w3-small w3-margin-bottom'>連江縣</span>

                    </p>
                </div>

            </div>
        </footer>

        <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="W3.CSS" target="_blank" class="w3-hover-opacity">Tom Lee</a></div>

        <!-- End page content -->
    </div>

    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
