<!DOCTYPE html>
<html>
<title>Democracy-Alarm</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@Styles.Render("~/Content/css")
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<script>
    var UID;
    var MyCity = "台北市";
    var LastVotingSeason;
    var CurrentVotingSeason;
    var CurrentVotingYear;
    var NextFullVotingSeason;
    var NextVotingYear;
    var NextVotingSeason;
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            LoginProcessing();
        } else {
            // The person is not logged into your app or we are unable to tell.
            //document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                //show personal historyhttp
                $('#myModal').modal('show');
            }
            else {
                statusChangeCallback(response);
            }

        });
    }
    window.fbAsyncInit = function () {
        FB.init({
            appId: '225993038075570',//official:225993038075570 testing:516183938824339
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function LoginProcessing() {
        FB.api('/me', function (response) {
            if (response) {
                UID = response.id;
                //Ger User Data
                var posting = $.post("@Url.Action("index", "Home")", { LogingUserID: response.id, LoginType: "facebook", LoginUserName: response.name } );
                posting.done(function (data) {
                });

                $.post("@Url.Action("GetMyLocation", "User")", { UserID: UID } )
                    .done(function (Location) {
                        if (Location == "") {
                            My_Location();
                        }
                        else {
                            UpdateMyLocation(Location);
                        }
                    });

                $.post("@Url.Action("GetVotingInfo", "User")", { UserID: UID } )
                    .done(function (data) {
                        LastVotingSeason = data.LastVotingSeason;
                        NextFullVotingSeason = data.NextFullVotingSeason;
                        CurrentVotingSeason = data.CurrentVotingSeason;
                        CurrentVotingYear = data.CurrentVotingYear;
                        NextVotingYear = data.NextVotingYear;
                        NextVotingSeason = data.NextVotingSeason;
                    });
            }
        });
    }
    var finished_rendering = function () {
        var spinner = document.getElementById("spinner");
        spinner.removeAttribute("style");
        spinner.removeChild(spinner.childNodes[0]);
    }
    if (typeof FB !== 'undefined') {
        FB.Event.subscribe('xfbml.render', finished_rendering);
    }
    function UpdateMyLocation(Location) {
        $("#MyLocation").html(":" + Location);
        $('a[data-rel^=voting]').hide();
        $('a[data-rel^=voting][data^=' + Location + ']').show();
        $('a[data-rel^=voting][data^=' + Location + ']').parent().parent().parent().prependTo("#MayorList");
    }
</script>

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <div id="spinner"
                 style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
                <div class="fb-login-button"
                     data-max-rows="1"
                     data-size="large"
                     data-button-type="continue_with"
                     data-use-continue-as="true"
                     onlogin="checkLoginState();"></div>
            </div>
            <h4><b>Democracy-Alarm</b></h4>
        </div>
        <div class="w3-bar-block">


            <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>縣、市長</a>
            <a href="#" onclick="My_Location()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-map-pin fa-fw w3-margin-right"></i><button class="w3-button w3-teal w3-padding-large w3-hover-black">請選擇所在投票縣市<span id="MyLocation"></span></button></a>
            
            <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>理念</a>
            <a href="#news" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>公告</a>
            <a href="#" onclick="My_Voting()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>我的投票</a>
            <a href="#" onclick="Reset()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>===清除我的投票===</a>

        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
        @RenderBody()
        <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="W3.CSS" target="_blank" class="w3-hover-opacity">Tom Lee</a></div>

        <!-- End page content -->
    </div>

    <script>

        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lightcase")
    @RenderSection("scripts", required: false)
    <script>
        function My_Voting() {
             $.dialog({
                        title: '我的投票記錄',
                        content: 'url:@Url.Action("GetMyVoting", "Voting", null)?UserID=' + UID,
                        animation: 'scale',
                        columnClass: 'medium',
                        closeAnimation: 'scale',
                        backgroundDismiss: true,
                    });
        }
        function My_Location() {
             $.dialog({
                        title: '我的投票區(點擊變更)',
                        content: 'url:@Url.Action("MyLocation", "User", null)?UserID=' + UID,
                        animation: 'scale',
                        columnClass: 'medium',
                        closeAnimation: 'scale',
                        backgroundDismiss: true,
                    });
        }
        function Reset() {
            window.location = '@Url.Action("Reset", "Test", null)?UserID=' + UID;
        }
    </script>
</body>
</html>
